python-dotenv==0.8.2
face_recognition==1.2.2
opencv-python==3.4.1.15
pyqt5==5.10.1
sounddevice==0.3.11
soundfile
simpleaudio==1.0.2
pyinstaller==3.3.1
requests==2.19.1
python-dateutil==2.7.3
pyqtgraph==0.10.0
